body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: darkblue;
    height: 100vh;
    width: 100vw;
}
.box1{
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;
    padding: 2rem;
    margin-left: 3rem;
    margin-top: 3rem;
}

input{
    padding: 1rem;
}
.box2{
    height: 50%;
    width: 65%;
    background-color: #fff;
    border-radius: 40px;
    padding: 2rem;
    margin: 6rem 1rem 3rem 2rem;
    display: flex;
    
}
.container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}

#btn{
    padding: 10px 20px;
    background-color: blue;
    color: white;
}

#writer{
    background-color: blue;
    color: white;
    height: 30px;
    width: fit-content;
    border: none;
    border-radius: 10px;
    margin-left: 2rem;
    padding: 1px;
}

#title{
    font-weight: bold;
    font-size: 24px;
    padding: 1rem 0rem 0rem 1rem;
}

#story-item{
    font-size: 14px;
    padding-left: 2rem;
}

img{
    height: 200px;
}